@tailwind base;
@tailwind components;
@tailwind utilities;

.remote_or_onsite span {
  background: var(--Linear, linear-gradient(90deg, #7e90fe 0%, #9873ff 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid #7E90FE;
  border-radius: 4px;
  padding: 8px 14px;
}
